<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizaciones</title>
</head>
<style>
    body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.formulario-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 50%;
}

.formulario h3 {
  margin-top: 0;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
}

.formulario input,
.formulario select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario button:hover {
  background-color: #87CEFA;
}

.tablas-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.resumen,
.total {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 48%;
}

.resumen table,
.total table {
  width: 100%;
  border-collapse: collapse;
}

.resumen th,
.total th {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.resumen td,
.total td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 25%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar table {
  width: 100%;
  border-collapse: collapse;
}

.sidebar th,
.sidebar td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .tablas-container {
    flex-direction: column;
  }

  .resumen,
  .total {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
}
</style>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <section class="container">
        <h1 id="header">Agencias de Autos</h1><hr>
        <div class="formulario-container">
            <div class="formulario">
                <form id="form-content" action="/cotizacion" method="post">
                    <h3></h3>
                    <label for=""><Strong>Núm. Folio</Strong></label>
                    <input type="number" name="folio" id="folio" placeholder="Folio" required value="<%=folio%>">
                    <label for=""><strong>Descripción del Vehículo</strong></label>
                    <input type="text" name="desc" id="desc" placeholder="Nombre del Automovil" required value="<%=desc%>">
                    <label for=""><strong>Valor de Auto</strong></label>
                    <input type="number" name="valor" id="valor" placeholder="Costo del Auto" required value="<%=valor%>">
                    <label for=""><strong>Porcentaje de Pago Inicial</strong></label>
                    <input type="number" name="pinicial" id="pinicial" placeholder="Porcentaje por Pago Inicial" required value="<%=pinicial%>">
                    <label for=""><strong>Plazos a meses</strong></label>
                    <select name="plazos" id="plazos" required value="<%=plazos%>">
                        <option value="12">12 Meses</option>
                        <option value="24">24 Meses</option>
                        <option value="36">36 Meses</option>
                        <option value="48">48 Meses</option>
                        <option value="60">60 Meses</option>
                    </select>
                    <button type="submit" style="background-color: #ADD8E6; color: #000000; transition: background-color 0.3s;"><strong>Calcular</strong></button>
                    <button type="button" onclick="limpiarFormulario()" style="background-color: #ADD8E6; color: #000000; transition: background-color 0.3s;"><strong>Limpiar</strong></button>
                </form>
            </div>
        </div>
        <%
            pinicial = valor * (pinicial/100);
            let totalFin = valor - pinicial;
            let pagoMensual = totalFin / plazos;     
        %>
        <div class="tablas-container">
            <div class="resumen">
                <table>
                    <tr>
                        <th>Folio</th>
                        <th>Descripción del Auto</th>
                        <th>Valor</th>
                        <th>Porcentaje de Pago Inicial</th>
                        <th>Plazos</th>
                    </tr>
                    <tr>
                        <td><%= folio %></td>
                        <td><%= desc %></td>
                        <td><%= valor %></td>
                        <td><%= pinicial %></td>
                        <td><%= plazos %></td>
                    </tr>
                </table>
            </div>
            <div class="total">
                <table>
                    <tr>
                        <th>Descripción</th>
                        <th>Valor</th>
                    </tr>
                    <tr>
                        <td>Enganche</td>
                        <td><%= pinicial.toFixed(2) %></td>
                    </tr>
                    <tr>
                        <td>Total a Financiar</td>
                        <td><%= totalFin.toFixed(2) %></td>
                    </tr>
                    <tr>
                        <td>Pago mensual</td>
                        <td><%= pagoMensual.toFixed(2) %></td>
                    </tr>
                </table>
            </div>
        </div>
    </section> <br> <br> <br> <br>
    <%-include('partials/footer.ejs')%>
    <script>
        function limpiarFormulario() {
            var formulario = document.getElementById('form-content');
    
            var plazosSelect = document.getElementById('plazos');
            formulario.folio.value = '';
            formulario.desc.value = '';
            formulario.valor.value = '';
            formulario.pinicial.value = '';
    

            plazosSelect.value = '12';
            limpiarTabla('resumen');
            limpiarTabla('total');
        }
    
        function limpiarTabla(tablaId) {
            var tabla = document.querySelector('.' + tablaId + ' table');
            var filas = tabla.querySelectorAll('tr');
    
            filas.forEach(function(fila, index) {
                if (index !== 0) {
                    var celdas = fila.querySelectorAll('td');
                    if (tablaId === 'resumen') {
                        celdas.forEach(function(celda) {
                            celda.textContent = '';
                        });
                    } else if (tablaId === 'total') {
                        for (var i = 1; i < celdas.length; i++) {
                            celdas[i].textContent = '';
                        }
                    }
                }
            });
        }
    </script>    
</body>
</html>