<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nostrum labore nemo assumenda pariatur consequuntur veritatis facere, ut doloribus aliquid eligendi officia, iure veniam, id vitae tempore optio iste accusamus.</p>
    <%-include('partials/footer.ejs')%>
</body>
</html>